# Microsoft / Azure AD
MICROSOFT_CLIENT_ID=284409d3-8795-42b4-ac6f-9198bbc988b0
MICROSOFT_CLIENT_SECRET=TMG8Q~TD0NKkyRZ8PSaAwSOXmble_a-xxas3TbJS
MICROSOFT_TENANT_ID=91cc1fb6-1275-4acf-b3ea-c213ec16257b

# NextAuth
NEXTAUTH_SECRET=NLqOmSY+bQ8E89n+Mg0EOqZIoGaev3vSRBA4SohBmZ4=
NEXTAUTH_URL=https://skill-sync-iota-three.vercel.app

# Database
DATABASE_URL=postgresql://postgres.egpolgptmeuxxkiqyozp:NqU8A%23jHr%23pze%21S@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dqya14ljs
CLOUDINARY_API_KEY=549961641847133
CLOUDINARY_API_SECRET=w03ThMeLsZCdf46oiPdTS7IaBSQ

# AI Providers (Free Tier)
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyDi47t6-S8a7kz_T8h2jsmaK_UV5B1QmSU
GROQ_API_KEY=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

# Auth Config
STUDENT_EMAIL_DOMAIN=stu.upes.ac.in

# Cron Security
CRON_SECRET=TfPqRKJzIx952Um1NiXHDOS4Mh7Q8Zso3jpEVadCYuWgnyk0tl6cBLwGrAveFb

# Supabase (for pg_net HTTP calls — not for auth)
NEXT_PUBLIC_SUPABASE_URL=https://egpolgptmeuxxkiqyozp.supabase.co/
SUPABASE_SERVICE_ROLE_KEY=sb_secret_qA4l8sP8vunqzldUaqb4Bw_bZfUKaAj